@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    line-height: 30px;
}

.material-symbols-outlined{
    font-size: 70px;
}

nav{
    position: fixed;
    display: flex;
    justify-content:space-between;
    padding: 0 7vw;
    align-items: center;
    background-color: #c7ddcc;
    width: 100%;    
    height: 80px;
    z-index: 1;
}

.navlinks{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}


.navlinks li {
    padding: 20px 15px;
    white-space:nowrap;
    text-align: center;
    min-width: 130px;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 300;
    color: #16123f;
    position: relative;
    background-color: inherit;
}

.navlinks a, .navlinks a:visited {
    color: #16123f;
}


.dropdown {
    position: absolute;
}

.navlinks .dropdown .dropdown-content {
    background-color: #c7ddcc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: -40px;
    display: none;
}

.dropdown-content a {
    color:#16123f;
    padding: 12px 16px;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display:flex;
}

.dropdown-content a:hover{
    text-decoration: underline;
}

.burger{
    padding-left: 50%;
    display: none;
    cursor: pointer;
}
.burger div{
    width: 26px;
    height: 3px;
    margin: 3px;
    background-color: #16123f;
    transition: all 0.3s ease;
}

@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
    .navlinks{
        position: absolute;
        right: 0px;
        top: 80px;
        width: 40%;
        height: 50vh;
        display: flex;
        flex-direction:column;
        align-items: center;
        text-align: center;
        background-color: #c7ddcc;
        color: #16123f;
        z-index: 0;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .navlinks .dropdown .dropdown-content {
        display: none;
        position: absolute;
        top: 0;
        left: -210px;
        z-index: 2;
    }

    .dropdown:hover .dropdown-content {
        display: flex;
    }

    .navlinks li{
        position: relative;
        opacity: 0;
        width: 100%;
    }
    .burger{
        display: block; 
    }

}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-1px, 5px); 
}

.toggle .line2{
    opacity:0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -8px) ;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 500px;
    height: fit-content;
    color: rgb(217, 217, 217);
    text-shadow: 0.5px 0.5px #b9bdbc;
    padding: 20vw 5vw;
    background-image:url('../images/yoga1.jpg'), url(../images/grey.jpeg);
    background-size: cover;
    background-blend-mode:multiply;
    border-bottom: 10px solid #75c9b76e;
}

.title #mainPage {
    margin: 20px;
    font-size: 30px;
}

.title a{
    color: #fff;
}

.title .asanaTitle {
    margin: 20px;
    font-size: 45px;
}

 .asanaTitle p {  
    line-height: 50px;
}

.title .asanasubtitle{
    margin: 20px;
    font-size: 25px;
}

.title a span:hover{
    background-color: #fff;
    color: #75c9b7;
    border-radius: 30px;
    padding: 1px 7px 7px 7px;
    box-shadow: 0 0 12px 8px #fff;
}

.container{
    color:#16123F;
    padding: 6vw;
    width: 100%;
    background-color: #c7ddcc;
    text-align: justify;
    font-size: 20px;
}

.container h1{
    font-size: 35px;
    padding: 15px 0;
}

.container .asana{
    font-size: 25px;
    padding: 20px 0;
}

.step{
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.step .img img{
    max-width: 900px;
    width: 100%;
    max-height: 700px;
    margin-bottom: 50px;
    border: 8px solid #fff;
    padding: 20px;
    background-color: #75c9b788;
}

.step li{
    padding: 15px 0 0 10px ;
    margin-left: 15px;
}